<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>

    <section class="main">
    <nav>
        <div class="logo">

        </div>
        <div class="router">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
        
    </nav>

    <section class="skyblock-introduction">
        <div class="introduction">
            <h1> Pyblock </h1>
            <p> A minecraft skyblock game <span>(guide)</span></p>
        </div>
        
        <div class="buttons">
            <a href="#">Play</a>
        </div>
        
    </section>
</section>

    <section class="skyblock-game-info">
        <div class="extra-info">
            <h1> What is Pyblock?</h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, eum commodi, maxime eius inventore aspernatur id est nesciunt a temporibus laboriosam ad amet quas illo iste, minus perspiciatis debitis quidem? </p>
        </div>

        <div class="points-info">
            <div class="point">
                <div class="image">
                    <img src="../images/lego_blocks.png">
                </div>
                <div class="content">
                    <h1> Build all farms </h1>
                    <p> Progress just like in the real skyblock but 50x faster! With this
                        guide you will be able to go thru each process and after you finish it
                    you will be able to jump straight to skyblock knowing everything! </p>
                </div>
            </div>

            <div class="point">
                <div class="image">
                    <img src="../images/lego_blocks.png">
                </div>
                <div class="content">
                    <h1> Build all farms </h1>
                    <p> Progress just like in the real skyblock but 50x faster! With this
                        guide you will be able to go thru each process and after you finish it
                    you will be able to jump straight to skyblock knowing everything! </p>
                </div>
            </div>

            <div class="point">
                <div class="image">
                    <img src="../images/lego_blocks.png">
                </div>
                <div class="content">
                    <h1> Build all farms </h1>
                    <p> Progress just like in the real skyblock but 50x faster! With this
                        guide you will be able to go thru each process and after you finish it
                    you will be able to jump straight to skyblock knowing everything! </p>
                </div>
            </div>
            <div class="point">
                <div class="image">
                    <img src="../images/lego_blocks.png">
                </div>
                <div class="content">
                    <h1> Build all farms </h1>
                    <p> Progress just like in the real skyblock but 50x faster! With this
                        guide you will be able to go thru each process and after you finish it
                    you will be able to jump straight to skyblock knowing everything! </p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="player-stats">

        </div>

        <div class="footer">
            <div class="About"></div>
            <div class="Docs"></div>
            <div class="Community"></div>
        </div>
    </footer>
</body>
</html>